/.vs/EmployeeApp/v16/.suo
/.vs/EmployeeApp/v16/Server/sqlite3/storage.ide
/.vs/EmployeeApp/v16/Server/sqlite3/db.lock
/.vs/EmployeeApp/v16/Server/sqlite3/storage.ide-shm
/.vs/EmployeeApp/v16/Server/sqlite3/storage.ide-wal
